@charset "UTF-8";
/*全局变量*/
/*函数*/
/*混合*/
/**
*公共css
**/
body {
  position: relative;
  background-color: #efefef;
  max-width: 750px;
  margin: auto;
  font-size: 0.7rem;
  font-family: "Microsoft YaHei", "微软雅黑";
  color: #999;
  line-height: 100%; }

blockquote, th, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, ul {
  padding: 0;
  margin: 0; }

body, input, textarea, select, h1, h2, h3, h4, h5, h6 {
  color: #000;
  -webkit-tap-highlight-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none; }

em, i {
  font-style: normal; }

ul, ol {
  list-style: none; }

img {
  max-width: 100%;
  border: none;
  vertical-align: middle; }

input, button {
  /*-webkit-appearance: none;*/
  outline: none; }

input {
  border: none;
  outline: none;
  resize: none;
  -webkit-tap-highlight-color: transparent; }

p {
  word-break: break-all; }

.fl {
  float: left; }

.fr {
  float: right; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.bc-w {
  background: #fff; }

/*对话框*/
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }

.dialog-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: .7; }

.dialog-box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2rem 0 0 -40%;
  z-index: 2;
  background-color: #fff;
  border-radius: 0.125rem;
  text-align: center; }

.dialog-detail {
  padding: 0.75rem 0.5rem;
  font-size: 0.4rem;
  line-height: 1.5; }

.dialog-opera {
  width: 100%;
  height: 1.25rem;
  border-top: 1px solid #ddd; }

.dialog-btn {
  height: 1.25rem;
  border: none;
  background: none;
  color: #157efb;
  font-size: 0.375rem;
  line-height: 1.25rem;
  cursor: pointer; }

.dialog-btn-close {
  width: 100%; }

.dialog-btn-cancel, .dialog-btn-ok {
  width: 50%;
  float: left; }

.dialog-btn-ok {
  border-right: 1px solid #ddd;
  box-sizing: border-box; }

.dialog-prompt {
  color: #fff;
  max-width: 3.5rem;
  position: absolute;
  z-index: 11000;
  left: 55%;
  margin-left: -8rem;
  margin-top: 0;
  padding: 0.375rem 0.5rem;
  top: 300%;
  text-align: center;
  border-radius: 0.35rem;
  /*文字不透明，背景透明*/
  opacity: 1;
  filter: Alpha(opacity=1);
  /* IE8 以及更早的浏览器 */
  background: rgba(0, 0, 0, 0.8) !important; }

/*#main {
  padding: pxToRem(56px) 0;
}*/
.mod {
  background: #fff;
  margin-bottom: 0.625rem; }
.mod .title {
  border-bottom: 1px solid #efefef;
  padding: 0.625rem;
  background: #fff;
  font-weight: bold; }

.mod.list .list_item {
  border-bottom: 1px solid #efefef;
  padding: 0.625rem;
  margin-left: 0.625rem;
  position: relative; }

.mod.list .list_item:last-child {
  border: 0; }

.mod.list .list_item.arrow:after {
  content: ' ';
  padding: 0.25rem;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  float: right;
  margin-top: 0.075rem; }

.btn {
  background: #eabf50;
  text-align: center;
  padding: 0.375rem 0;
  color: #8e4d00;
  width: 100%;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem; }

.btn.btn_disabled {
  color: #fff;
  background: #e4e4e4; }

.flex-container {
  display: flex;
  display: -webkit-flex;
  flex-flow: row; }
.flex-container > * {
  flex: 1 1 auto; }

.flex-container.column {
  flex-flow: column; }
