@import "../lib/sass_utils";

/**
*公共css
**/
@charset "UTF-8";

body {
  position: relative;
  background-color: #efefef;
  max-width: 750px;
  margin: auto;
  font-size: pxToRem(28px);
  font-family: "Microsoft YaHei", "微软雅黑";
  color: #999;
  line-height: 100%;
}

[v-cloak] {
  display: none;
}
#app * {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

blockquote, th, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, ul {
  padding: 0;
  margin: 0
}

body, input, textarea, select, h1, h2, h3, h4, h5, h6 {
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
}

em, i {
  font-style: normal;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

input, button {
  /*-webkit-appearance: none;*/
  outline: none;
}

input {
  border: none;
  outline: none;
  resize: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  word-break: break-all;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.bc-w {
  background: #fff
}

/*对话框*/
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.dialog-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: .7;
}

.dialog-box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: pxToRem(-80px) 0 0 -40%;
  z-index: 2;
  background-color: #fff;
  border-radius: pxToRem(5px);
  text-align: center;
}

.dialog-detail {
  padding: pxToRem(30px) pxToRem(20px);
  font-size: pxToRem(16px);
  line-height: 1.5;
}

.dialog-opera {
  width: 100%;
  height: pxToRem(50px);
  border-top: 1px solid #ddd;
}

.dialog-btn {
  height: pxToRem(50px);
  border: none;
  background: none;
  color: #157efb;
  font-size: pxToRem(15px);
  line-height: pxToRem(50px);
  cursor: pointer;
}

.dialog-btn-close {
  width: 100%;
}

.dialog-btn-cancel, .dialog-btn-ok {
  width: 50%;
  float: left;
}

.dialog-btn-ok {
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.dialog-prompt {
  color: #fff;
  max-width: pxToRem(140px);
  position: absolute;
  z-index: 11000;
  left: 55%;
  margin-left: pxToRem(-320px);
  margin-top: 0;
  padding: pxToRem(15px) pxToRem(20px);
  top: 300%;
  text-align: center;
  border-radius: pxToRem(14px);

  /*文字不透明，背景透明*/
  opacity: 1;
  filter: Alpha(opacity=1);
  /* IE8 以及更早的浏览器 */
  background: rgba(0, 0, 0, 0.8) !important;
}

/*#main {
  padding: pxToRem(56px) 0;
}*/

.mod {
  background: #fff;
  //padding:pxToRem(25px);
  margin-bottom: pxToRem(25px);

  .title {
    border-bottom: 1px solid #efefef;
    padding: pxToRem(25px);
    background: #fff;
    font-weight: bold;
  }
}

.mod.list {
  overflow-x: hidden;

  .list_item {
    border-bottom: 1px solid #efefef;
    padding: pxToRem(25px);
    margin-left: pxToRem(25px);
    position: relative;

    &:last-child {
      border: 0;
    }

    &.arrow:after {
      content: ' ';
      padding: pxToRem(10px);
      border-top: 1px solid #888;
      border-right: 1px solid #888;
      @include transform('rotate', 45deg);
      float: right;
      margin-top: pxToRem(3px);
    }
    .list_item_dragbox{
      position: absolute;
      text-align: center;
      top: 0;
      padding: .625rem 0.5rem;
      background-color: #fff;
      color: #fff;
      box-sizing: border-box;
    }
  }

}

.btn {
  background: $color_golden_bg;
  text-align: center;
  padding: pxToRem(15px) 0;
  color: $color_golden;
  width: 100%;
  @include border-radius(pxToRem(10px));

}

.btn.btn_disabled {
  color: #fff;
  background: #e4e4e4;
}

//弹性布局
.flex-container {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;

  & > * {
    flex: 1 1 auto;

    //等价于
    //flex-grow: 1;
    //flex-shrink: 0;
    //flex-basis: auto;
  }
}

.flex-container.column {
  flex-flow: column;
}






















